<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <!--
        <h1>built_filters</h1>
        <h2>{{data|lower}}</h2>
        <h2>{{data|upper}}</h2>
        <h2>{{data|capfirst}}</h2>
        <h2>{{data|title}}</h2>
        <h2>{{data|length}}</h2>
        <h2>{{data|truncatechars:'5'}}</h2>
        <h2>{{data|truncatewords:'3'}}</h2>
        <h2>{{data|slice:'5'}}</h2>
        -->
    
        <h2>{{dt|date:'y l m'}}</h2>
        <h2>{{dt|date:'b c a e'}}</h2>
        <h2> i have {{c}} cat{{c|pluralize}}</h2>
        <h2> i have {{c}} mango{{c|pluralize:'es'}}</h2>
        <h3>This a{{c}} book{{c|pluralize}} {{c|pluralize:'is,are'}} mahesh</h3>
    </center>
</body>
</html>